<div class="container">
    <h2 class="title">Account Settings</h2>
    <div class="settingsContainer">
        <div class="form">
            <div class="loginfo">
                <div class="logtitle">Devices You're Logged in</div>
                <ul>
                    <li>Google</li>
                    <li>Apple</li>
                    <li>Microsoft</li>
                </ul>
            </div>
            <button >Sign Out of All Devices</button>
            <button >Delete Account</button>
        </div>
    </div>
</div>