<div class="container">
    <h2 class="title">General</h2>
    <div class="generalContainer">
        <div class="form">
            <label for="name">Your Name</label>
            <input type="text" name="name" id="name">
            <label for="username">Your Username</label>
            <input type="text" name="username" id="username">
            <label for="email">Your email</label>
            <input type="text" name="email" id="email">
            <button class="update">Update</button>
        </div>
        <div class="avatar">
            <img src="../../../assets/altumcode.jpg" alt="Avatar">
            <button>Change Avatar</button>
        </div>
    </div>
</div>