<div class="container">
    <h2 class="title">Social Media</h2>
    <div class="socialContainer">
        <div class="form">
            <label for="instagram">Instagram</label>
            <input type="text" placeholder="https://instagram.com" name="instagram" id="instagram">
            <label for="facebook">Facebook</label>
            <input type="text" placeholder="https://facebook.com" name="facebook" id="facebook">
            <label for="twitter">Twitter</label>
            <input type="text" placeholder="https://twitter.com" name="twitter" id="twitter">
            <button class="update">Update</button>
        </div>
    </div>
</div>